<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LagerInsightsALLagerInsights.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
			<section name="LagerInsights.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LagerInsightsALLagerInsights.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="LagerInsights.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<LagerInsightsALLagerInsights.Properties.Settings>
			<setting name="GithubURL" serializeAs="String">
				<value>https://github.com/KJFCux/kzl-teilnehmenden-auswertung</value>
			</setting>
			<setting name="KJFURL" serializeAs="String">
				<value>https://www.kjf-cux.de</value>
			</setting>
			<setting name="BWBURL" serializeAs="String">
				<value>https://www.jf-bundeswettbewerb.de</value>
			</setting>
			<setting name="HilfeURL" serializeAs="String">
				<value>https://hilfe.jf-bundeswettbewerb.de</value>
			</setting>
			<setting name="GithubReleaseURL" serializeAs="String">
				<value>https://api.github.com/repos/KJFCux/kzl-teilnehmenden-auswertung/releases</value>
			</setting>
		</LagerInsightsALLagerInsights.Properties.Settings>
		<LagerInsights.Properties.Settings>
			<setting name="GithubURL" serializeAs="String">
				<value>https://github.com/KJFCux/jf-bundeswettbewerb</value>
			</setting>
			<setting name="KJFURL" serializeAs="String">
				<value>https://www.kjf-cux.de</value>
			</setting>
			<setting name="BWBURL" serializeAs="String">
				<value>https://www.jf-bundeswettbewerb.de</value>
			</setting>
			<setting name="HilfeURL" serializeAs="String">
				<value>https://hilfe.jf-bundeswettbewerb.de</value>
			</setting>
			<setting name="GithubReleaseURL" serializeAs="String">
				<value>https://api.github.com/repos/KJFCux/jf-bundeswettbewerb/releases</value>
			</setting>
		</LagerInsights.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<LagerInsightsALLagerInsights.Properties.Settings>
			<setting name="GithubDownloadURL" serializeAs="String">
				<value>https://github.com/KJFCux/kzl-teilnehmenden-auswertung/releases/download/{release}/LagerInsights.exe</value>
			</setting>
			<setting name="FriendlyName" serializeAs="String">
				<value>LagerInsights</value>
			</setting>
		</LagerInsightsALLagerInsights.Properties.Settings>
		<LagerInsights.Properties.Settings>
			<setting name="GithubDownloadURL" serializeAs="String">
				<value>https://github.com/KJFCux/jf-bundeswettbewerb/releases/download/{release}/LagerInsights.exe</value>
			</setting>
			<setting name="FriendlyName" serializeAs="String">
				<value>Inferno Auswertung</value>
			</setting>
		</LagerInsights.Properties.Settings>
	</userSettings>
</configuration>