<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BWB_Auswertung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BWB_Auswertung.Properties.Settings>
            <setting name="GithubURL" serializeAs="String">
                <value>https://github.com/KJFCux/jf-bundeswettbewerb</value>
            </setting>
            <setting name="KJFURL" serializeAs="String">
                <value>https://www.kjf-cux.de</value>
            </setting>
            <setting name="BWBURL" serializeAs="String">
                <value>https://www.jf-bundeswettbewerb.de</value>
            </setting>
            <setting name="HilfeURL" serializeAs="String">
                <value>https://hilfe.jf-bundeswettbewerb.de</value>
            </setting>
        </BWB_Auswertung.Properties.Settings>
    </applicationSettings>
</configuration>